/* TEMP FIX for menu in older iOS + Safari */
@media screen and (min-width: 60em)
{
	nav ul
	{
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	
		-ms-justify-content: space-between;			
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	nav li
	{
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		-webkit-flex: 1 0 auto;
		flex: 1 0 auto;
	}
}
.csc-linkToTop a:after
{
	-webkit-transform: rotateZ(-90deg);
}

div.aftericon a
{
text-decoration: none !important;
}
.aftericon a h3
{
text-decoration: underline;
}


/* Fixes for portrait sizes on city council members page */
#c86085 .image-left.image-below .image-wrap,
#c67691 .image-left.image-below .image-wrap,
#c86265 .image-left.image-below .image-wrap,
#c68863 .image-left.image-below .image-wrap,
#c91308 .image-left.image-below .image-wrap,
#c86325 .image-left.image-below .image-wrap,
#c86339 .image-left.image-below .image-wrap,
#c86351 .image-left.image-below .image-wrap,
#c86359 .image-left.image-below .image-wrap,
#c86369 .image-left.image-below .image-wrap
{
	float: none;
}
#c86085 .image-left.image-below .image-row,
#c67691 .image-left.image-below .image-row,
#c86265 .image-left.image-below .image-row,
#c68863 .image-left.image-below .image-row,
#c91308 .image-left.image-below .image-row,
#c86325 .image-left.image-below .image-row,
#c86339 .image-left.image-below .image-row,
#c86351 .image-left.image-below .image-row,
#c86359 .image-left.image-below .image-row,
#c86369 .image-left.image-below .image-row
{
	margin-bottom: 0;
}
